/* Add CSS Styling */

/* #ffa7a7 */
.odd {
    background-color: #ffa7a7;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth {
    background-color: #80ff80;
    font-weight: bold;
}
