body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}










.container, .cards, .header, .footer, .sidebar ul, body {
  display: flex;
}

body {
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 0 16px;
  font-weight: 900;
  font-size: 32px;
  align-items: center;
}

.cards {
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  max-width: 250px;
  padding: 16px;
}

.container {
  flex: 1;
}

.footer {
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

.sidebar ul {
  flex-direction: column;
  gap: 16px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
